{% extends "layout.html" %}
{% block content %}
{% if card %}
<div class="row">
  <div class="col-3">
    <img src="{{ card['image_url'] }}" style="width: 100%;">
  </div>
  <div class="col-6">
    <h3 class="title">{{ card["name"] }}</h3>
    <p class="set">{{ card["set"] }}</p>
    <hr>
    <div class="row">
      <div class="col-4">
        <p class="section-title">Rarity:</p>
        <p class="section-title">Card Type:</p>
        {% if "Creature" in card["type"] %}
          <p class="section-title">P / T:</p>
        {% endif %}
        <p class="section-title">Description:</p>
        <p class="section-title">Flavor:</p>
      </div>
      <div class="col-8">
        <p class="section-title-content">{{ card["rarity"].title() }}</p>
        <p class="section-title-content">{{ card["type"] }}</p>
        {% if "Creature" in card["type"] %}
          <p class="section-title-content">{{ card["power"] + ' / ' + card["toughness"] }}</p>
        {% endif %}
        <p class="section-title-content">{{ card["text"] }}</p>
        <p class="section-title-content">{{ card["flavor"] }}</p>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="content-section">
      <h3 class="price">Null</h3>
      <form method="POST" action="">
        {{ addForm.hidden_tag() }}
        <div class="form-group">
          {% if addForm.condition.errors %}
          {{ addForm.condition(class="form-control is-invalid") }}
          <div class="invalid-feedback">
            {% for error in addForm.condition.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
          {% else %}
            {{ addForm.condition(class="form-control") }}
          {% endif %}
          <p style="margin-top: 0.2rem; font-size: 0.78rem;"><a href="https://www.mtgseattle.com/card_condition_guide" target="_blank" style="color: #145488;">What is my cards condition?</a></p>
        </div>
        <div class="form-group">
          {% if addForm.quantity.errors %}
          {{ addForm.quantity(class="form-control is-invalid") }}
          <div class="invalid-feedback">
            {% for error in addForm.quantity.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
          {% else %}
            {{ addForm.quantity(class="form-control", placeholder="Quantity") }}
          {% endif %}
        </div>
        <div class="form-group">
          {{ addForm.add(class="btn btn-success add-btn") }}
        </div>
      </form>
    </div>
  </div>
</div>
{% else %}
  <h1>Not Valid Card</h1>
{% endif %}
{% endblock %}