<nav class="navbar navbar-expand-lg navbar-light top-results">
  <a class="navbar-brand" href="{{ url_for('home') }}">Magic Logger</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('home') }}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Info</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Auth
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Login</a>
          <a class="dropdown-item" href="#">Registers</a>
        </div>
      </li>
    </ul>
    <form method="POST" action="" class="form-inline my-2 my-lg-0">
      {{ form.hidden_tag() }}
      <div class="form-group">
          {% if form.query.errors %}
              {{ form.query(class="form-control is-invalid") }}
              <div class="invalid-feedback">
                  {% for error in form.query.errors %}
                      <span>{{ error }}</span>
                  {% endfor %}
              </div>
          {% else %}
              {{ form.query(class="form-control mr-sm-2", placeholder="Enter a Card Name") }}
          {% endif %}
      </div>
      <div class="form-group">
          {{ form.search(class="btn btn-outline-primary") }}
      </div>
  </form>
  </div>
</nav>